<div class="card my-4">
  <h5 class="card-header bg-primary text-light">Settings</h5>
  <div class="card-body">
    <p *ngFor="let error of errors">
      <ngb-alert type="danger" [dismissible]="false">
        {{ error }}
      </ngb-alert>
    </p>

    <p *ngFor="let message of successMessages">
      <ngb-alert type="success" [dismissible]="false">
        {{ message }}
      </ngb-alert>
    </p>
    <form
      [formGroup]="requestPasswordResetForm"
      (ngSubmit)="onRequestPasswordResetSubmit()"
      class="form-horizontal"
      role="form"
      *ngIf="successMessages?.length != 0"
    >
      <h4>Enter your details below</h4>
      <hr />
      <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-5">
          <input name="email" formControlName="email" class="form-control" type="email" required />
          <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
      </div>
      <div class="row">
        <div
          *ngIf="
            requestPasswordResetForm.controls['email']?.touched && requestPasswordResetForm.controls['email']?.invalid
          "
          class="col-md-8 offset-md-1"
        >
          <div *ngIf="requestPasswordResetForm.controls['email']?.errors?.required" class="alert alert-danger">
            E-Mail Address is required.
          </div>
          <div *ngIf="requestPasswordResetForm.controls['email']?.errors?.email" class="alert alert-danger">
            E-Mail Address must be a valid email format.
          </div>
        </div>
      </div>
      <br />
      <br />
      <button
        type="button"
        class="btn btn-icon btn-primary"
        aria-label="success"
        (click)="onRequestPasswordResetSubmit()"
      >
        Submit
      </button>
    </form>
  </div>
</div>
