<div class="card my-4">
  <h5 class="card-header bg-primary text-light">Request Password Reset</h5>
  <div class="card-body">
    <p *ngFor="let error of errors">
      <ngb-alert type="danger" [dismissible]="false">
        {{ error }}
      </ngb-alert>
    </p>

    <p *ngFor="let message of successMessages">
      <ngb-alert type="success" [dismissible]="false">
        {{ message }}
      </ngb-alert>
    </p>
    <form
      [formGroup]="requestPasswordResetForm"
      (ngSubmit)="onRequestPasswordResetSubmit()"
      *ngIf="successMessages?.length != 0"
    >
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
        <div class="col-md-6">
          <input name="email" formControlName="email" class="form-control" type="email" required />
        </div>
      </div>
      <div class="row">
        <div
          *ngIf="
            requestPasswordResetForm.controls['email']?.touched && requestPasswordResetForm.controls['email']?.invalid
          "
          class="col-md-5 offset-md-5"
        >
          <div *ngIf="requestPasswordResetForm.controls['email']?.errors?.required" class="alert alert-danger">
            E-Mail Address is required.
          </div>
          <div *ngIf="requestPasswordResetForm.controls['email']?.errors?.email" class="alert alert-danger">
            E-Mail Address must be a valid email format.
          </div>
        </div>
      </div>
      <div class="col-md-6 offset-md-4">
        <button
          type="button"
          class="btn btn-icon btn-primary col-md-6 offset-md-3"
          aria-label="success"
          (click)="onRequestPasswordResetSubmit()"
          [disabled]="!requestPasswordResetForm.valid || loading"
        >
          <div class="spinner-border" *ngIf="loading"></div>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
