.profile-header-image {
    max-height: 15rem;
    max-width: 15rem;
    width: auto;
    height: auto;
}

.profile-image {
    max-height: 2rem;
    max-width: 2rem;
    width: auto;
    height: auto;
}

.dashboard-cover-image {
    max-height: 5rem;
    max-width: 5rem;
    width: auto;
    height: auto;
}

* {
    word-wrap: break-word;
}
