:host {
  display: contents;
}

.project-preview-card {
  width: 100%;
}

.placeholder {
  line-height: 0;

  .text {
    display: inline-block;
    border-radius: 100px;
    min-width: 100px;
    width: 85%;
    opacity: 0.1;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    height: 1.1rem;
    animation: fading 1.5s infinite;
    background-color: gray;

    &.link {
      background-color: var(--blue);
    }

    &.line {
      width: 100%;
    }

    &.half {
      width: 50%;
    }

    &.third {
      width: 33%;
    }
  }

  h1.text {
    border-radius: 100px;
    width: 60%;
    height: 3.1rem;
    margin: 15px 0;
    opacity: 0.5;
    background-color: black;
    animation: fading 1.5s infinite;
  }

  h2.text {
    border-radius: 100px;
    width: 40%;
    height: 2.2rem;
    margin: 10px 0;
    opacity: 0.4;
    background-color: var(--blue);
    animation: fading 1.5s infinite;
  }

  h4.text {
    height: 2rem;
    margin: 3px 0;
    opacity: 0.2;
    background-color: black;
    animation: fading 1.5s infinite;
  }

  h5.text {
    width: 60%;
    height: 1.5rem;
    margin: 15px 0;
    opacity: 0.5;
    background-color: black;
    animation: fading 1.5s infinite;
  }

  .button {
    display: inline-block;
    border-radius: 100px;
    background-color: var(--blue);
    height: 2.5rem;
    width: 7rem;
    margin: 3px 0;
    opacity: 0.2;
  }

  .empty-line {
    height: 1.5rem;
  }

  .image {
    border-radius: 10px;
    display: inline-block;
    background-color: #608df0;
    height: 23em;
    width: 70%;
    opacity: 0.2;
    animation: fading 1.5s infinite;
    padding: 0.5em;
    margin: 1em auto;
  }
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.1;
  }
}
