<div class="col-md-8 card mb-2 project-preview-card placeholder">
  <div class="card-img-top image"></div>
  <div class="card-body">
    <h5 class="card-title text"></h5>

    <p class="card-text">
      <span class="text"></span>
      <span class="text"></span>
    </p>
    <span class="button link"></span>
    <div class="empty-line"></div>
    <div>
      <span class="text third"></span>&nbsp;
      <span *ngFor="let i of [1, 2, 3, 4]">&nbsp; <span class="text link"></span></span>
    </div>
  </div>
</div>
