<div class="card my-4">
  <h5 class="card-header bg-primary text-light">Reset Password</h5>
  <div class="card-body">
    <p *ngFor="let error of errors">
      <ngb-alert type="danger" [dismissible]="false">
        {{ error }}
      </ngb-alert>
    </p>

    <p *ngFor="let message of successMessages">
      <ngb-alert type="success" [dismissible]="false">
        {{ message }}
      </ngb-alert>
    </p>
    <form [formGroup]="passwordResetForm" (ngSubmit)="onPasswordResetSubmit()" *ngIf="successMessages?.length != 0">
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">New Password</label>
        <div class="col-md-6">
          <input
            name="newPassword"
            formControlName="newPassword"
            minlength="6"
            required
            class="form-control"
            type="password"
          />
        </div>
      </div>
      <div class="row">
        <div
          *ngIf="
            passwordResetForm.controls['newPassword']?.touched && passwordResetForm.controls['newPassword']?.invalid
          "
          class="col-md-5 offset-md-5"
        >
          <div *ngIf="passwordResetForm.controls['newPassword']?.errors?.required" class="alert alert-danger">
            New Password is required.
          </div>
          <div *ngIf="passwordResetForm.controls['newPassword']?.errors?.minlength" class="alert alert-danger">
            New Password must be at least
            {{ passwordResetForm.controls['newPassword']?.errors?.minlength?.requiredLength }} characters. (Current is
            {{ passwordResetForm.controls['newPassword']?.errors?.minlength?.actualLength }})
          </div>
          <div *ngIf="passwordResetForm.controls['newPassword']?.errors?.maxlength" class="alert alert-danger">
            New Password must be
            {{ passwordResetForm.controls['newPassword']?.errors?.maxlength?.requiredLength }} characters or fewer.
            (Current is {{ passwordResetForm.controls['newPassword']?.errors?.maxlength?.actualLength }})
          </div>
          <div *ngIf="passwordResetForm.controls['newPassword']?.errors?.hasLowerCase" class="alert alert-danger">
            New Password must contain a lower case letter.
          </div>
          <div *ngIf="passwordResetForm.controls['newPassword']?.errors?.hasUpperCase" class="alert alert-danger">
            New Password must contain an upper case letter.
          </div>
          <div *ngIf="passwordResetForm.controls['newPassword']?.errors?.hasNumber" class="alert alert-danger">
            New Password must contain a number.
          </div>
          <div
            *ngIf="passwordResetForm.controls['newPassword']?.errors?.hasSpecialCharacters"
            class="alert alert-danger"
          >
            New Password must contain a special character : {{ '!@#$%^&*()_+-=[]{};:"\\|,.<>/?' }}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Confirm New Password</label>
        <div class="col-md-6">
          <input name="newPassword2" formControlName="newPassword2" required class="form-control" type="password" />
        </div>
      </div>
      <div class="row">
        <div
          *ngIf="
            passwordResetForm.controls['newPassword2'].touched && passwordResetForm.controls['newPassword2'].invalid
          "
          class="col-md-5 offset-md-5"
        >
          <div *ngIf="passwordResetForm.controls['newPassword2'].errors.required" class="alert alert-danger">
            Confirm New Password is required.
          </div>

          <div *ngIf="passwordResetForm.controls['newPassword2'].errors.mismatch" class="alert alert-danger">
            New Password and Confirm New Password must match.
          </div>
        </div>
      </div>
      <div class="col-md-6 offset-md-4">
        <button
          type="button"
          class="btn btn-icon btn-primary col-md-6 offset-md-3"
          aria-label="success"
          (click)="onPasswordResetSubmit()"
          [disabled]="!passwordResetForm.valid || loading"
        >
          <div class="spinner-border" *ngIf="loading"></div>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
