<!-- Search Widget -->
<div class="card my-4">
  <h5 class="card-header text-light bg-primary">Search</h5>
  <div class="card-body">
    <form
      id="searchform"
      accept-charset="utf-8"
      [formGroup]="searchForm"
      (ngSubmit)="onSearchSubmit()"
      (keyup.enter)="onSearchSubmit()"
    >
      <div class="input-group">
        <input
          type="text"
          name="searchText"
          formControlName="searchText"
          class="form-control"
          placeholder="Search for..."
          id="searchbox"
        />
        <span class="input-group-btn ml-2">
          <button class="btn btn-outline-primary" type="submit">Go!</button>
        </span>
      </div>
    </form>
  </div>
</div>
