<div class="card my-4">
  <h5 class="card-header text-light bg-primary">My Links</h5>
  <div class="card-body">
    <ul class="list-unstyled mb-0 row" *ngIf="linksList; else placeholder">
      <li class="col-lg-12" *ngFor="let link of linksList">
        <a href="{{ link.target }}" target="_blank" rel="noopener noreferrer"
          ><img src="{{ link.image }}" border="1" height="15rem" object-fit="cover" /> {{ link.name }}</a
        >
      </li>
    </ul>
    <ng-template #placeholder>
      <ul class="list-unstyled mb-0 row placeholder">
        <li class="col-lg-12" *ngFor="let i of [1, 2, 3]">
          <span class="image"></span>
          <span class="text link"></span>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
