<div class="placeholder">
  <h1 class="text"></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="image"></div>
    </div>
    <div class="col-md-12">
      <h5 class="text"></h5>
      <p>
        <span class="text"></span>
        <span class="text"></span>
      </p>
      <div class="empty-line"></div>
      <span class="text"></span>
      <span class="text"></span>
      <span class="text"></span>
      <span class="text"></span>
      <span class="text"></span>
      <div class="empty-line"></div>
      <span class="text link half"></span>
      <div class="empty-line"></div>
      <div class="empty-line"></div>

      <div>
        <span class="text third"></span>&nbsp;
        <span *ngFor="let i of [1, 2, 3, 4]">&nbsp; <span class="text link"></span></span>
      </div>

      &nbsp;
      <br />
    </div>
  </div>
</div>
