<!-- Categories Widget -->
<div class="card my-4">
  <h5 class="card-header text-light bg-primary">Blog Post Categories</h5>
  <div class="card-body">
    <ul class="list-unstyled mb-0 row" *ngIf="blogCategoriesList; else placeholder">
      <li class="col-lg-12" *ngFor="let category of blogCategoriesList">
        <a
          href="/blog/category/{{ category.name }}"
          routerLink="/blog/category/{{ category.name }}"
          routerLinkActive="router-link-active"
          >{{ category.name }}</a
        >
      </li>
    </ul>
    <ng-template #placeholder>
      <ul class="list-unstyled mb-0 row placeholder">
        <li class="col-lg-12" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
          <span class="text link"></span>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
