<h1>Projects</h1>
<div class="spinner-border" *ngIf="loading; else entries"></div>
<ng-template #entries>
  <h5>Showing {{ projectsList.length }} out of {{ resultNumber }} Entries</h5>
</ng-template>

<div class="" *ngIf="loading === false; else placeholder">
  <app-project-preview *ngFor="let project of projectsList" [project]="project"></app-project-preview>
</div>
<ng-template #placeholder>
  <app-project-preview-placeholder *ngFor="let i of [].constructor(5)"></app-project-preview-placeholder>
</ng-template>

<div class="row">
  <div class="ml-3 col-md-12">
    <ngb-pagination
      [collectionSize]="resultNumber"
      [(page)]="page"
      [boundaryLinks]="false"
      [maxSize]="4"
      [pageSize]="pageSize"
      (pageChange)="onPageChange()"
      class=""
    ></ngb-pagination>
  </div>
  <div class="col-md-4">
    <label for="page-size">Items / Page: &nbsp;</label>
    <select id="page-size" class="custom-select col-md-6 col-6" (change)="onPageChange()" [(ngModel)]="pageSize">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="sort-type">Sort Items: &nbsp;</label>
    <select id="sort-type" class="custom-select col-md-6 col-6" (change)="onPageChange()" [(ngModel)]="sortType">
      <option value="CreatedAtDesc">Date Added, Recent to Old</option>
      <option value="CreatedAtAsc">Date Added, Old to Recent</option>
      <option value="NameAsc">Title, A to Z</option>
      <option value="NameDesc">Title, Z to A</option>
    </select>
  </div>
</div>
